.searchPage-header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    align-items: flex-start;
    padding: 22px;
    border-bottom: 1px solid lightgray;
}

.searchPage-header img{
    object-fit: contain;
    height: 40px;
    margin-right: 50px;
    margin-top: 0;
}

.searchPage-options{
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 23px;
    justify-content: flex-start;
}

.searchPage-options a{
    text-decoration: none;
    color: gray;
    margin-left: 5px;
}

.searchPage-optionsLeft, .searchPage-optionsRight{
    display: flex;
    align-items: center;
}

.searchPage-optionsLeft{
    margin-left: 70px;
}

.searchPage-optionsRight{
    margin-left: 80px;
}

.searchPage .search-input{
    margin-top: 0;
    width: 700px;
}


/* Search Page Result Styling starts here */

.searchPage-resultCount{
    color: #70757a;
    font-size: 17px;
}

.searchPage-result{
    margin: 40px 0;
}

.searchPage-result img{
    object-fit: contain;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.searchPage-resultLink{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-bottom: 6px;
    cursor: pointer;
}

.searchPage-resultTitle{
    text-decoration: none;
}

.searchPage-resultTitle:hover{
    text-decoration: underline;
}

.searchPage-resultTitle h2{
    font-weight: 500;
    cursor: pointer;
}

.searchPage-resultDescription{
    margin-top: 10px;
}

.searchPage-results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}
/* Search Page Result Styling ends here */